vendor/
arikaim/*
!arikaim/core/
!arikaim/core/*/

__pycache__
node_modules
composer.lock
composer.json
cli
.htaccess
index.php
Arikaim_python_service_server.egg-info
arikaim_service_server.egg-info
Arikaim_service_server.egg-info
/build
/dist
!*.gitkeep
index.php
_sites.txt
_notes.txt
test